aiohttp==3.7.4.post0
appdirs==1.4.4
APScheduler==3.6.3
argon2-cffi==20.1.0
asgiref==3.3.1
asttokens==2.0.5
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
Automat==20.2.0
awsebcli==3.20.2
backcall==0.2.0
backoff==1.11.1
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.9.3
black==22.3.0
bleach==3.3.0
botocore==1.21.65
bs4==0.0.1
cachetools==4.2.2
cement==2.8.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.1.0
colorama==0.4.3
configparser==5.0.2
constantly==15.1.0
crayons==0.4.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
dataframe-image==0.1.1
DateTime==4.3
decorator==4.4.2
defusedxml==0.7.1
dialogflow==1.1.0
distlib==0.3.4
dj-database-url==0.5.0
Django==3.1.7
django-crispy-forms==1.11.1
django-heroku==0.3.1
dnspython==2.2.1
dropbox==11.25.0
entrypoints==0.3
executing==0.6.0
feedparser==6.0.2
filelock==3.4.0
Flask==1.1.2
Flask-MySQLdb==0.2.0
Flask-WTF==1.0.0
future==0.16.0
fuzzywuzzy==0.18.0
gnewsclient==1.12
google-api-core==1.26.3
google-auth==1.29.0
googleapis-common-protos==1.53.0
graphviz==0.17
grpcio==1.37.0
gunicorn==20.1.0
h2==3.2.0
h5py==3.3.0
hpack==3.0.0
html5lib==1.1
hyperframe==5.2.0
hyperlink==21.0.0
icecream==2.1.1
idna==2.10
incremental==21.3.0
ipdb==0.13.7
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.3.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
kaggle==1.5.12
Keras==2.4.3
kiwisolver==1.3.1
lesscpy==0.14.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
MouseInfo==0.1.3
multidict==5.2.0
mypy-extensions==0.4.3
mysqlclient==2.1.0
Naked==0.1.31
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nltk==3.6.2
notebook==6.4.0
numpy==1.20.1
opencv-python==4.5.2.52
packaging==21.3
pandas==1.2.3
pandoc==1.0.2
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.1
passlib==1.7.4
pathspec==0.9.0
pickleshare==0.7.5
Pillow==8.1.0
platformdirs==2.4.0
plotly==5.3.1
ply==3.11
priority==1.3.0
prometheus-client==0.9.0
prompt-toolkit==3.0.17
Protego==0.1.16
protobuf==3.15.8
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
PyDispatcher==2.0.5
pydotplus==2.0.2
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.8.1
pymongo==4.1.0
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pytesseract==0.3.9
python-dateutil==2.8.1
python-dotenv==0.20.0
python-slugify==5.0.2
python-telegram-bot==11.1.0
PyTweening==1.0.3
pytz==2021.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
queuelib==1.5.0
ratelimit==2.2.1
regex==2021.7.6
requests==2.25.1
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
Scrapy==2.5.0
seaborn==0.11.1
selenium==3.141.0
semantic-version==2.8.5
Send2Trash==1.5.0
service-identity==18.1.0
sgmllib3k==1.0.0
six==1.14.0
sklearn==0.0
soupsieve==2.2.1
sqlparse==0.4.1
stone==3.2.1
tabulate==0.8.9
telegram==0.0.1
tenacity==8.0.1
termcolor==1.1.0
terminado==0.9.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
tomli==2.0.1
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typing-extensions==3.10.0.2
tzlocal==2.1
urllib3==1.26.7
utils==1.0.1
virtualenv==20.10.0
virtualenvwrapper-win==1.2.6
w3lib==1.22.0
waitress==2.0.0
wcwidth==0.1.9
webdriver-manager==3.3.0
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
whitenoise==5.2.0
widgetsnbextension==3.5.1
WTForms==3.0.0
yarl==1.7.0
zope.interface==5.3.0
