:root {
    --black: #000000;
    --almost-black: #263238;
    --white: #ffffff;
    --almost-white: #FBFBFB;
    --grey-light: #CFD8DC;
    --grey: #B0BEC5;
    --grey-medium: #78909C;
    --grey-dark: #455A64;
    --primary: #1E88E5;
    --primary-dark: #1976D2;
    --secondary: #CFD8DC;
    --secondary-dark: #B0BEC5;
    --red: #EF4836;
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  
* {
    position: relative;
    box-sizing: border-box;
    background-color: black
  }
.wh{
    color: var(--white);
}

  
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    /* line-height: 28px; */
    /* color: var(--black); */
    /* background: var(--grey-light); */
  }
  
  /* Typography */
  .center {
    text-align: center;
  }
  
  h1 {
    margin: 0.5em 0 1em;
    font-size: 26px;
    line-height: 1.2;
    color: var(--almost-black);
  }
  
  h2 {
    margin: 0.5em 0 1em;
    font-size: 20px;
    line-height: 1.2;
    color: var(--grey-dark);
  }
  
  p {
    margin: 24px 0;
  }
  
  /* Cards */
  .card-wrapper {
    margin: 0 auto;
    padding: 90px 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  
  .user_card {
    /* margin: 0 30px 60px; */
    margin: auto;
    padding: 20px 40px;
    width: 460px;
    box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
    border-radius: 5px;
    background-color: black;
    border: 2px solid #c0c0c0;
  }
  
  
  @media only screen and (max-width: 520px) {
    .card-wrapper {
      padding: 30px 0 0;
    }
  }
  
  @media only screen and (max-width: 520px) {
    .card {
      margin: 0 0 30px;
      width: 100%;
      border-radius: 0;
    }
  }
  
  /* Forms */
  form {
    transition: opacity .15s ease;
  }
  
  form.loading {
    pointer-events: none;
    opacity: 0.75;
  }
  
  label {
    margin: 0 0 2px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--grey-medium);
    display: block;
  }
  
  .field {
    margin: 0 0 24px;
    padding: 11px 16px 9px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: var(--almost-black);
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    display: block;
    background: var(--almost-white);
    transition: border-color .15s ease;
  }
  
  .field:focus {
    border-color: var(--grey-medium);
    outline: none;
  }
  
  .error {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--red);
  }
  
.error--hidden {
    display: none;
}
  /* Buttons */
  /* .btn {
    margin: 0 0 24px;
    padding: 11px 30px 10px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background: var(--primary);
    transition: color .15s ease, background-color .15s ease;
  } */
  
  /* .btn:hover {
    background: var(--primary-dark);
  } */
  
  .btn--secondary {
    color: var(--almost-black);
    background: var(--secondary);
  }
  
  .btn--secondary:hover {
    background: var(--secondary-dark);
  }
  
  input[type=submit] {
    margin: 34px auto 24px;
    display: block;
  }




.bound-box {
    border: 10px solid #0e7a0d;
    padding: 100px;
    display: flex;
    justify-content: center;
    width: auto;
    margin: 10px auto;
    margin-left: 30px;
    margin-right: 30px;
    
}



.t-g{
    color: #0e7a0d;

}

.t-r{
  color: rgb(247, 37, 37);
}
.pr-add{
    /* border: 2px solid red; */
    margin-top: 0px;
    display: flex;
    height: 267px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-success{
    background-color: #0e7a0d;
    color: red;
}

p{
    color: #ffffff;
}

.t-w{
    color: #ffffff;
}

.prod-list-box{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 30px;
}

.flex{
    display: flex;
    /* justify-content: center; */
}


/* products limit */

.g-b{
    border: 10px solid #0e7a0d;
    margin: 30px 10px;
    width: 70px;
    height: 0px;
    margin-top: 90px;
    
}

.r-b{
    
    border: 10px solid red;
    margin: 30px 10px;
    width: 70px;
    margin-top: 90px;
}



td{
    color: #c0c0c0;
}


.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: rgb(54, 54, 54);
}

.dark_screen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    height:100vh;
}
.hidden {
    display: none;
}

.alert-not {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hola{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -20px;
}


.footer{
  /* padding: 50px 0; */
  display: flex;
  text-align: center;
  /* border: 2px solid red; */
}

